<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="google-site-verification" content="u0DPJ-Y19qHtE0cOORNWtmXH1paQeyVlFKnafkrGkRk" />
        <meta name="verify-reformal" content="fcb6d40888e64761744ee89b" />
        <link href="/media/css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="container">
            <div id="main">
                <div class="logo">
                    <a href="/"><img src="/media/images/logo.png" alt="unshort url" /></a>
                </div>
                <div class="memo">
                    Unshort.ru - Раскукоживатель ссылок
                </div>
                <br/>
                {% block content %}{% endblock %} 
            </div>
			<div class="about">
				<b>Скачать:</b>
				<p class="small">
				<img src="/media/images/chrome.png" class="img">Плагин для Google Chrome <a href="/media/unshort_0.0.7.crx">0.0.7</a>&nbsp;&nbsp;<a href="https://chrome.google.com/webstore/detail/bbahdjmfhamemifdbdbmfedmcledonjh?hl=ru">В Google Chrome Store</a><br>
				<img src="/media/images/firefox.png" class="img">Плагин для FireFox <a href="/media/unshort_0.0.8.xpi">0.0.8</a>&nbsp;&nbsp;<a href="https://addons.mozilla.org/ru/firefox/addon/unshort-1/">В каталоге дополнений FireFox</a><br>
                <img src="/media/images/opera.png" class="img">Плагин для Opera <a href="/media/unshorter_0.0.1.oex">0.0.7</a>
				</p>
			</div>
			<br/><br/>
			<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=152805738125217&amp;xfbml=1"></script><fb:like href="http://unshort.ru" send="true" width="450" show_faces="true" action="recommend" font="arial"></fb:like>
			<a href="http://twitter.com/Unshorter"><img src="/media/images/twitter.jpg" border="0" alt="Unshorter.ru в твиттере"></a>
        </div>

        <script type="text/javascript">
reformal_wdg_domain    = "unshort";
reformal_wdg_mode    = 0;
reformal_wdg_title   = "Unshort";
reformal_wdg_ltitle  = "Оставьте свой отзыв";
reformal_wdg_lfont   = "";
reformal_wdg_lsize   = "";
reformal_wdg_color   = "#FFA000";
reformal_wdg_bcolor  = "#516683";
reformal_wdg_tcolor  = "#FFFFFF";
reformal_wdg_align   = "left";
reformal_wdg_charset = "utf-8";
reformal_wdg_waction = 0;
reformal_wdg_vcolor  = "#9FCE54";
reformal_wdg_cmline  = "#E0E0E0";
reformal_wdg_glcolor  = "#105895";
reformal_wdg_tbcolor  = "#FFFFFF";

reformal_wdg_bimage = "7688f5685f7701e97daa5497d3d9c745.png";

</script>

<script type="text/javascript" language="JavaScript" src="http://reformal.ru/tab6.js?charset=utf-8"></script><noscript><a href="http://unshort.reformal.ru">Unshort feedback </a> <a href="http://reformal.ru"><img src="http://reformal.ru/i/logo.gif" /></a></noscript>
		<!-- Yandex.Metrika counter -->
<div style="display:none;"><script type="text/javascript">
(function(w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter7523674 = new Ya.Metrika({id:7523674, enableAll: true});
        }
        catch(e) { }
    });
})(window, 'yandex_metrika_callbacks');
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/7523674" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    </body>
</html>
